{
    "development": {
        "username": "postgres",
        "password": null,
        "database": "fmm",
        "host": "127.0.0.1",
        "dialect": "postgres"
    },
    "test": {
        "username": "postgres",
        "password": null,
        "database": "fmm_test",
        "host": "127.0.0.1",
        "dialect": "postgres"
    },
    "production": {
        "username": "postgres",
        "password": null,
        "database": "fmm",
        "host": "127.0.0.1",
        "dialect": "postgres"
    }
}