{
    "development": {
      "username": "postgres",
      "password": null,
      "database": "rbsi",
      "host": "localhost",
      "dialect": "postgres"
    },
    "test": {
      "username": "postgres",
      "password": null,
      "database": "rbsi",
      "host": "localhost",
      "dialect": "postgres"
  },
    "production": {
      "username": "postgres",
      "password": null,
      "database": "rbsi",
      "host": "localhost",
      "dialect": "postgres"
  }
}